main {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

section.heroAgendar-section { 
    background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Agendar/heroCover-agendar.png");
    background-size: cover;
    width: 100%;
    height: 70vh;

    position: relative;
    top: 0vh;

    display: grid;
    place-items: center;

    h1 { 
        color: var(--color, #FFF);
        font-family: "Montserrat", sans-serif;
        font-size: 3.25vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}

