@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

main.cover-home {
    background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Home/Autodepot+Gift.gif");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    position: relative;

    div.overlay-home {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.33);
        z-index: 1;

        aside.title { 
            position: absolute;
            bottom: 0vw;
            left: 3vw;
            animation: slideInLeft 2s ease-in-out;

            h1 { 
                width: 25vw;
                color: var(--color, #FFF);
                font-family: Montserrat;
                font-size: 3.25vw;
                font-style: normal;
                font-weight: 400;
                line-height: 105.4%; /* 52.7px */
                letter-spacing: 2.75px;
                padding-left: 1vw;
                border-left: 0.25vw solid #fff;
            }
        }
    }
}