// Define la animación slideIn desde la izquierda
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

main.not-home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    animation: slideInLeft 700ms ease-out backwards;

}

section.heroInicio-section { 
    background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/heroCover-inicio.png");
    background-size: cover;
    width: 100%;
    height: 70vh;

    position: relative;
    top: 0vh;
}

section.marcas-section { 
    /* background-color: red; */
    width: 100%;
    height: 40vh;
    margin-bottom: 5vh;
    /* border-top: 1px solid ; */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.70);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    article.title { 
        background-color: #5AB031;
        width: 50vw;
        height: 10vh;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 { 
            color: var(--color, #FFF);
            font-family: "Montserrat", sans-serif;
            font-size: 2.5vw;
            font-style: normal;
            font-weight: 700;
            line-height: 105.4%; /* 36.89px */
            letter-spacing: 1.925px;
        }
    }

    aside.carrusel-logos-space {
        /* background-color: blue; */
        width: 100%;
        height: 30vh;

        display: grid;
        place-items: center;
    }
}

/*************** Pantallas tablet (768px) y tablet L (1024px) con orientacion vertical  *******************/
@media (min-width: 750px) and (max-width: 1025px) and (orientation: portrait) {

    main.not-home {
        position: relative;
        width: 100%;
        min-height: 100vh;
        animation: slideInLeft 700ms ease-out backwards;
    }

    section.heroInicio-section { 
        background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/heroCover-inicio.png");
        background-size: 125% 100%;
        background-position: center;
        width: 100%;
        height: 60vh;

        position: relative;
        top: 0vh;
    }

    section.marcas-section { 
        /* background-color: red; */
        width: 100%;
        height: 40vh;
        margin-bottom: 5vh;
        /* border-top: 1px solid ; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.70);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        article.title { 
            background-color: #5AB031;
            width: 50vw;
            height: 10vh;

            display: flex;
            align-items: center;
            justify-content: center;

            h1 { 
                color: var(--color, #FFF);
                font-family: "Montserrat", sans-serif;
                font-size: 3.5vw !important;
                font-style: normal;
                font-weight: 700;
                line-height: 105.4%; /* 36.89px */
                letter-spacing: 1.925px;
            }
        }

        aside.carrusel-logos-space {
            /* background-color: blue; */
            width: 100%;
            height: 30vh;

            display: grid;
            place-items: center;
        }
    }
}   

/*************** Pantallas Movil con orientacion vertical  *******************/
@media (max-width: 749px) and (orientation: portrait) { 
    main.not-home {
        position: relative;
        width: 100%;
        min-height: 100vh;
        animation: slideInLeft 700ms ease-out backwards;
    }

    section.heroInicio-section { 
        background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/heroCover-inicio.png");
        background-size: 150% 100%;
        background-position: center;
        width: 100%;
        height: 60vh;

        position: relative;
        top: 0vh;
    }

    section.marcas-section { 
        /* background-color: red; */
        width: 100%;
        height: 40vh;
        margin-bottom: 0vh;
        /* border-top: 1px solid ; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.70);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        article.title { 
            background-color: #5AB031;
            width: 50vw;
            height: 10vh;

            display: flex;
            align-items: center;
            justify-content: center;

            h1 { 
                color: var(--color, #FFF);
                font-family: "Montserrat", sans-serif;
                font-size: 2.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: 105.4%; /* 36.89px */
                letter-spacing: 1.925px;
            }
        }

        aside.carrusel-logos-space {
            /* background-color: blue; */
            width: 100%;
            height: 30vh;

            display: grid;
            place-items: center;
        }
    }
}

/*************** Pantallas Movil con orientacion vertical  *******************/
@media (max-width: 749px) and (orientation: portrait) { 
    main.not-home {
        position: relative;
        width: 100%;
        min-height: 100vh;
        animation: slideInLeft 700ms ease-out backwards;
    }

    section.heroInicio-section { 
        background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/heroCover-inicio.png");
        background-size: 150% 100%;
        background-position: center;
        width: 100%;
        height: 60vh;

        position: relative;
        top: 0vh;
    }

    section.marcas-section { 
        /* background-color: red; */
        width: 100%;
        height: 40vh;
        margin-bottom: 0vh;
        /* border-top: 1px solid ; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.70);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        article.title { 
            background-color: #5AB031;
            width: 50vw;
            height: 10vh;

            display: flex;
            align-items: center;
            justify-content: center;

            h1 { 
                color: var(--color, #FFF);
                font-family: "Montserrat", sans-serif;
                font-size: 2.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: 105.4%; /* 36.89px */
                letter-spacing: 1.925px;
            }
        }

        aside.carrusel-logos-space {
            /* background-color: blue; */
            width: 100%;
            height: 30vh;

            display: grid;
            place-items: center;
        }
    }
}


