main {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

section.heroMarcas-section { 
    background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Marcas/heroCover-marcas.png");
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin-bottom: 10vh;

    position: relative;
    top: 0vh;

    display: grid;
    place-items: center;

    h1 { 
        color: var(--color, #FFF);
        font-family: "Montserrat", sans-serif;
        font-size: 3.25vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}


section.marcas-section { 
    /* background-color: red; */
    width: 100%;
    height: 40vh;
    margin-bottom: 5vh;
    /* border-top: 1px solid ; */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.70);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    article.title { 
        background-color: #5AB031;
        width: 50vw;
        height: 10vh;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 { 
            color: var(--color, #FFF);
            font-family: "Montserrat", sans-serif;
            font-size: 2.5vw;
            font-style: normal;
            font-weight: 700;
            line-height: 105.4%; /* 36.89px */
            letter-spacing: 1.925px;
            text-transform: uppercase;
        }
    }

    aside.carrusel-logos-space {
        /* background-color: blue; */
        width: 100%;
        height: 30vh;

        display: grid;
        place-items: center;
    }
}

/*************** Pantallas tablet (768px) y tablet L (1024px) con orientacion vertical  *******************/
@media (min-width: 750px) and (max-width: 1025px) and (orientation: portrait) {
    main {
        position: relative;
        width: 100%;
        min-height: 100vh;
    
    }
    
    section.heroMarcas-section { 
        background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Marcas/heroCover-marcas.png");
        background-size: cover;
        width: 100%;
        height: 60vh;
        margin-bottom: 10vh;
    
        position: relative;
        top: 0vh;
    
        display: grid;
        place-items: center;
    
        h1 { 
            color: var(--color, #FFF);
            font-family: "Montserrat", sans-serif;
            font-size: 5vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    
    
    section.marcas-section { 
        /* background-color: red; */
        width: 100%;
        height: 40vh;
        margin-bottom: 5vh;
        /* border-top: 1px solid ; */
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.70);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        article.title { 
            background-color: #5AB031;
            width: 50vw;
            height: 10vh;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            h1 { 
                color: var(--color, #FFF);
                font-family: "Montserrat", sans-serif;
                font-size: 2.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: 105.4%; /* 36.89px */
                letter-spacing: 1.925px;
                text-transform: uppercase;
            }
        }
    
        aside.carrusel-logos-space {
            /* background-color: blue; */
            width: 100%;
            height: 30vh;
    
            display: grid;
            place-items: center;
        }
    }
}
