main {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

section.heroNosotros-section { 
    background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Nosotros/heroCover-nosotros.png");
    background-size: cover;
    width: 100%;
    height: 70vh;

    position: relative;
    top: 0vh;

    display: grid;
    place-items: center;

    h1 { 
        color: var(--color, #FFF);
        font-family: "Montserrat", sans-serif;
        font-size: 3.25vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

section.Nosotros-section { 
    /* background-color: red; */
    width: 100%;
    height: 90vh;

    display: grid;
    place-items: center;

    div.nosotros-area { 
        /* background-color: blue; */
        width: 90vw;
        height: 60vh;

        display: flex;
        align-items: center;
        justify-content: space-between;

        aside.nosotrosImage-space { 
            /* background-color: yellow; */
            width: 50%;
            height: 100%;

            display: grid;
            place-items: center;

            img { 
                width: 45vw;
                height: 60vh;
                object-fit: fill;
            }
        }

        article.nosotrosText-space { 
            /* background-color: yellow; */
            width: 40%;
            height: 100%;
            margin-right: 7vw;

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            h2 { 
                color: #000;
                font-family: "Montserrat", sans-serif;
                font-size: 1.75vw;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            p { 
                width: 25vw;
                margin: 1vh 0;
                color: #000;
                font-family: "Montserrat", sans-serif;
                font-size: 1.3vw;
                font-style: normal;
                font-weight: 400;
                line-height: 105.4%; /* 17.918px */
                letter-spacing: 0.935px;

                span { 
                    font-style: italic;
                    font-weight: 500;
                }
            }
        }
    }
}