section.agendar-section { 
    /* background-color: red; */
    width: 100%;
    height: 90vh;

    display: grid;
    place-items: center;

    div.agendar-area {
        /* background-color: green; */
        width: 80vw;
        height: 60vh;

        display: flex;
        align-items: center;
        justify-content: center;

        aside.imageService-space { 
            background-image: url("https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Agendar/Alineacion-img1.png");
            background-size: 100% 100%;
            width: 48vw;
            height: 60vh;

            img { 
                width: 48vw;
                height: 60vh;
                /* object-fit: ; */
            }
        }

        article.formService-space {
            /* background-color: blue; */
            box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.30);
            width: 32vw;
            height: 60vh;

            display: grid;
            place-items: center;

            h1 {
                color: #000;
                font-family: "Montserrat", sans-serif;
                font-size: 2vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                margin: 1vh 0;
            }

            form.agendarForm {
                /* background-color: green; */
                width: 25vw;
                height: 45vh;

                position: relative;
                bottom: 2vh;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                
                div.input-group {
                    border-radius: 18.5px;
                    background: var(--color, #FFF);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    width: 25vw;
                    height: 5vh;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    overflow: hidden;

                    aside { 
                        /* background-color: #4A529F; */
                        width: 5vw;
                        height: 5vh;
                        display: grid;
                        place-items: center;

                        img { 
                            width: 2vw;
                            height: auto;
                        }
                    }

                    

                    input { 
                        width: 20vw;
                        height: 5vh;

                        color: #000;
                        font-family: "Montserrat", sans-serif;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        border: none;
                    }
                } 

                div.date-group { 
                    width: 25vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        color: #000;
                        font-family: "Montserrat", sans-serif;
                        font-size: 1.25vw;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    input.dateInput {
                        border-radius: 18.5px;
                        background: var(--color, #FFF);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        width: 10vw;
                        height: 5vh;
                        padding: 0 1.5vw;
                        border: none;

                        text-transform: uppercase;

                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: center;

                        gap: 1vw;

                        color: #000;
                        font-family: "Montserrat", sans-serif;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        &::-webkit-calendar-picker-indicator {
                            display: block;
                            opacity: 0;

                            z-index: 2;
                        }

                        &::after {
                            content: ''; /* Deja el contenido vacío para que no se vea afectado */
                            background: url('https://s3.amazonaws.com/autodepot.la/Recursos-Autodepot/Agendar/Calendar.svg') center center/contain no-repeat; /* Reemplaza con la URL correcta */
                            width: 5vh; /* Ajusta según sea necesario */
                            height: 5vh; /* Ajusta según sea necesario */

                            position: absolute;
                            left: 1vw;

                            cursor: pointer;
                          }
                    }
                }

                button.submitBtn { 
                    border: 0.25vw solid #5AB031;
                    background: #4A529F;
                    width: 25vw;
                    height: 7.5vh;
                    border-radius: 0;

                    cursor: pointer;

                    span {
                        color: var(--color, #FFF);
                        font-family: "Montserrat", sans-serif;
                        font-size: 1.25vw;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
